*{
box-sizing:border-box;
}


body{
    text-align:center;
    margin:0 auto;
}

#bingoBoard,
.playCard{
    display: grid;
    width:768px;
    border-radius: 15px;
    grid-template-rows: repeat(auto, 1fr);
    grid-template-columns:repeat(auto-fit, minmax(50px, 1fr));
    grid-gap: 3px;
    box-shadow: 0px 1px 10px rgba(160, 160, 160,.9);
    padding: 10px;
}

#bingoBoard{
    border: solid 10px rgb(255, 53, 53);
    background-color:rgb(0, 0, 0);
}

.playCard{
    border: solid 5px rgb(255, 53, 53);
    background-color:rgb(230, 230, 230);
    margin-bottom:3rem; 
}

.cell{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 50px;
    background-color:rgb(255, 255, 255);
}
.cell:hover{
    background-color:rgb(220, 220, 220);
   
}

.highlight{
    background-color:yellow;
}


